body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-div {
  display: block;
  margin: auto;
  width: 30%;
  padding: 50px;
  text-align: center;
  background-color: azure;
}

.key-box {
  display: inline-block;
  width: 30%;
  padding: 10px;
}

.value-box {
  display: inline-block;
  width: 60%;
  padding: 10px;
}

.button-box {
  display: block;
  padding: 20px;
  margin: auto;
}

.error-message {
  color: red;
}

.card {
  display: inline-block;
  width: 45%;
  border-left: 5px solid rebeccapurple;
  padding: 10px;
  margin: 20px;
  background-color: aliceblue;
}

.card:hover {
  background-color: aqua;
  cursor: pointer;
}
.card-body {
  display: block;
}

.round-image {
  border-radius: 60px;
}